{% extends 'base.html' %}

{% block content %}
<style type="text/css">
	.timeline-card {
      border: 3px solid black;
      background-color: white;
    }

</style>

<div class="container">
	<div class="timeline-card card p-2">
		<div class="card-header">
			<h3>Home</h3>
			<input id="status-input" type="text" size="100" placeholder="What's New?"><br>
			<input class="sendbtn btn btn-dark" id="status-submit" type="button" value="Update">
		</div>
		<div class="card-body">
			
		</div>
	</div>
</div>
{% endblock content %}