<script type="text/javascript">
	
    function acceptFriendRequest(friend_request_id, uiUpdateFunction){
        // not able to directly input friend_request_id directly inside
        var url = "{% url 'friend:friend-request-accept' friend_request_id=apokmxkdi %}".replace("apokmxkdi", friend_request_id)
        $.ajax({
            type:"GET",
            dataType: "json",
            url: url,
            timeout: 5000,
            success: function(data){
                if(data.results == "success"){

                } else{
                    alert(data.respones)
                }
            },
            error: function(data){
                alert("Issues: " + data)
            },
            complete: function(data){
                uiUpdateFunction()
            },
        })
    }

</script>
