<script type="text/javascript">
	
    function cancelFriendRequest(id, uiUpdateFunction){
        payload = {
			"csrfmiddlewaretoken": "{{csrf_token}}",
			"receiver_user_id": id,
		}
        var url = "{% url 'friend:friend-request-cancel' %}"
        $.ajax({
            type:"POST",
            dataType: "json",
            url: url,
            data: payload,
            timeout: 5000,
            success: function(data){
                if(data.results == "success"){

                } else{
                    alert(data.respones)
                }
            },
            error: function(data){
                alert("Issues: " + data)
            },
            complete: function(data){
                uiUpdateFunction()
            },
        });
    }

</script>
