{% extends 'base.html' %}
{% load static %}

{% block content %}

<style type="text/css">
	.card{
		border-radius: 12px;
	}

	.friendlist-card {
      border: 3px solid black;
      background-color: white;
    }

	.profile-image{
		max-height: 100px;
		max-width: 100px;
	}

	.profile-image{
		border-radius: 12px;
	}

	.friends-text{
		color: #000;
		font-weight: 500;
	}
	
	.friends-text-container{
		border: 1px solid #cccccc;
		border-radius: 12px;
	}

	.profile-link{
		color: black;
	}

	.checkmark-icon{
		color: green;
	}

	.cancel-icon{
		color:salmon
	}
</style>

<div class="container">
	<div class="friendlist-card card p-2">
		<div class="card-header">
			<h3>All Friends</h3>
		</div>
		{% if friends %}
		<div class="flex-row flex-wrap">
		{% for friend in friends %}
		<div class="card flex-row flex-grow-1 p-2 mx-2 my-2 align-items-center">
			<a class="profile-link" href="{% url 'account:user_view' user_id=friend.0.pk %}">
				<div class="card-image m-2">
					<img class="img-fluid profile-image" src="{{friend.0.profile_image.url}}" alt="">
				</div>
			</a>
			
			<div class="card-center px-2">
				<a class="profile-link" href="{% url 'account:user_view' user_id=friend.0.pk %}">
					<h4 class="card-title">{{friend.0.username|truncatechars:50}}</h4>
				</a>
			</div>
			
			<div class="d-flex flex-row card-right flex-grow-1 justify-content-end mx-2">
				{% if friend.1 %}
					<div class="d-flex flex-row friends-text-container p-3">
						<p class="friends-text m-auto">
							Friends 
						</p>
					</div>
				{% else %}
					{% if friend.0 !=  request.user %}
						<div class="d-flex flex-row friends-text-container p-3">
							<p class="friends-text m-auto">
								Not Friends 
							</p>
							<span class="material-icons cancel-icon m-auto pl-2">cancel</span>
						</div>
					{% endif %}
				{% endif %}
			</div>
		</div>
		{% endfor %}
		<!-- If no friends -->
		{% else %} 
		<div class="d-flex flex-row flex-grow-1 justify-content-center align-items-center p-4">
			<p>No friends</p>
		</div>
		{% endif %}
		</div>
	</div>
	
</div>

{% endblock content %}