{% extends 'base.html' %}
{% load static %}

{% block content %}

<style type="text/css">
	.card{
		border-radius: 12px;
	}

	.card-border-background {
		border: 3px solid black;
		background-color: white;
	}

	.image-container{
		max-width: 200px;
		height: auto;
	}

	.label-field{
		color: grey;
	}

	.friend-text{
		font-weight: bold;
		color: black;
	}

</style>

<div class="container-fluid">
	<div class="d-flex flex-row justify-content-center flex-wrap align-items-start">
		<div class="card-border-background card m-2">
			<div class="card-header">
				<h3>{{full_name}}'s Profile</h3>
			</div>
			<div class="card-body">
				<div class="flex-column justify-content-center p-4">
					<div class="image-container mx-auto mb-4">
						<img class="rounded-circle img-fluid mx-auto profile-image" alt="default image logo" id="id_profile_image" src="{{profile_image}}">
					</div>

					<p class="mb-2 label-field font-italic">Email Address</p>
					{%  if is_self %}
						<p class="font-weight-bold">{{email}}</p>
					{% else %}
						{% if hide_email %}
							<p class="font-weight-bold">User decided to make their email address private</p>
						{% else %}
							<h5>{{email}}</h5>
						{% endif %}
					{% endif %}

					<p class="mb-2 label-field font-italic">Full Name</p>
					<p class="font-weight-bold">{{full_name}}</p>

					<p class="mb-2 label-field font-italic">Username</p>
					<p class="font-weight-bold">{{username}}</p>

					<p class="mb-2 label-field font-italic">Date of Birth</p>
					<p class="font-weight-bold">{{date_of_birth}}</p>

					<!-- If user is viewing their own profile -->
					{% if is_self %}
						<!-- user_id = id, id is gotten from user_view -->
						<a  class="mt-4 btn btn-dark btn-block" href="{% url 'account:edit' user_id=id %}">Update</a>
						<div class="d-flex flex-column mt-4">
							<a class="m-auto" href="{% url 'password_change' %}">Change password</a>
						</div>
					{% endif %}
				</div>
			</div>
		</div>

		<!-- For sending, cancel and removing friend  -->
		{% if request.user.is_authenticated %}
			<div class="d-flex flex-column mb-4">
				<div class="card-border-background card m-2 px-4 pb-4">
					{% if is_friend == False and is_self == False %}
						<!-- You send friend request -->
						{% if request_sent == 1 %}
						<div class="d-flex pt-3 align-items-center">
							<button class="btn btn-danger" id="id_cancel_friend_request_btn">
								Cancel Friend Request
							</button>
						</div>
						{% endif %}

						<!-- Default view with no requests -->
						{% if request_sent == 0 %}
						<div class="d-flex pt-3 align-items-center ">
							<button class="btn btn-dark" id="id_send_friend_request_btn">
								Send Friend Request
							</button>
						</div>
						{% endif %}
					{% endif %}

					<!-- If already friends -->
					{% if is_friend %}
					<div class="d-flex pt-4 align-items-center ">
						<p class="font-weight-bold">You're Already Friends</p>
					</div>
					{% endif %}
					
					<!-- Friends list link -->
					<div class="d-flex flex-column pt-4">
						<a href="{% url 'friend:friends-list' user_id=id %}">
							<div class="d-flex flex-row align-items-center justify-content-center">
								<span class="friend-text">Friend(s) [{{friends|length}}]</span>
							</div>
						</a>
					</div>
				</div>

				<!-- Remove Friend -->
				{% if is_friend %}
				<div class="d-flex flex-column mb-4">
					<div class="card m-2 px-4 pb-4">
						<div class="d-flex pt-3 align-items-center">
							<button class="btn btn-danger" id="id_unfriend_btn" onclick="removeFriend('{{id}}', onFriendRemoved)">
								Remove Friend
							</button>
						</div>
					</div>
				</div>
				{% endif %}

				<!-- Friend Requests -->
				{% if friend_requests %}
				<div class="card m-2 px-4 pb-4">
					<div class="d-flex flex-column pt-4">
						<a href="{% url 'friend:friend-requests' user_id=id %}">
							<div class="d-flex flex-row align-items-center justify-content-center">
								<span class="friend-text">Friend Requests ({{friend_requests|length}})</span>
							</div>
						</a>
					</div>
				</div>
				{% endif %}

			</div>
		{% endif %}
	</div>
</div>

<script type="text/javascript">

	function onFriendRequestSent(){
		location.reload();
	}

	function onFriendRequestCancelled(){
		location.reload();
	}

	function onFriendRemoved(){
		location.reload();
	}

	var sendFriendRequestBtn = document.getElementById("id_send_friend_request_btn")
	if (sendFriendRequestBtn != null){
		sendFriendRequestBtn.addEventListener("click", function(){
			// sendFriendRequest ajax, takes id for profile looking at, and then reload page
			sendFriendRequest("{{id}}", onFriendRequestSent)
		})
	}

	var cancelFriendRequestBtn = document.getElementById("id_cancel_friend_request_btn")
	if(cancelFriendRequestBtn != null){
		cancelFriendRequestBtn.addEventListener("click", function(){
			cancelFriendRequest("{{id}}", onFriendRequestCancelled)
		})
	}

	var removeFriendBtn = document.getElementById("id_unfriend_btn")
	if (removeFriendBtn != null){
		removeFriendBtn.addEventListener("click", function(){
			removeFriend("{{id}}", onFriendRemoved)
		})
	}
	
</script>

{% include 'friends/ajaxScript/send_friend_request.html' %}
{% include 'friends/ajaxScript/cancel_friend_request.html' %}
{% include 'friends/ajaxScript/remove_friend.html' %}

{% endblock content %}