{% extends 'base.html' %}
{% load static %}

{% block content %}

<style type="text/css">
  .signup {
	  border: 3px solid black;
	  background-color: white;
	  width: 100%;
	  max-width: 400px;
	  padding: 15px;
	  margin: auto;
  }
  
  .form-signin input{
    margin-bottom: 20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
</style>

<div class="container">
	<div class="row justify-content-center">
		<div class="signup rounded">
			<div class="card-header">
				<h3>Register</h3>
				<p>Quick and easy</p>
			</div>
			<div class="card-body">
		    <form class="form-signin" method="POST">
                {% csrf_token %}
				<label for="inputName">Full Name</label>
                <input type="text" name="full_name" id="inputName" class="form-control" placeholder="Enter full name" required autofocus>

				<label for="inputEmail">Email Address</label>
				<input type="email" name="email" id="inputEmail" class="form-control" placeholder="Enter email" required>

				<label for="inputUsername">Username</label>
				<input type="text" name="username" id="inputUsername" class="form-control" placeholder="Enter username" required>

				<label for="inputPassword1">Password</label>
				<input type="password" name="password1" id="inputPassword1" class="form-control" placeholder="Password" required>

				<label for="inputPassword2">Confirm Password</label>
				<input type="password" name="password2" id="inputPassword2" class="form-control" placeholder="Confirm password" required>

				<label for="inputDOB">Date Of Birth</label>
                <input type="date" name="date_of_birth" id="inputDOB" class="form-control">

				{% for field in registration_form %}
					<p>
					{% for error in field.errors %}
					<p style="color: salmon">{{ error }}</p>
				{% endfor %}
				</p>
				{% endfor %}
				{% if registration_form.non_field_errors %}
					<div style="color: salmon">
						<p>{{registration_form.non_field_errors}}</p>
					</div>
				{% endif %}

				{% if messages %}
				<ul class="messages">
					{% for message in messages %}
					<div style="color:green">
						<p>{{ message }}</p>
					</div>
					{% endfor %}
				</ul>
				{% endif %}
				
				<button class="btn btn-dark btn-block" type="submit">Register</button>

			</form>
		  </div>
		</div>
		
	</div>
</div>

{% endblock content %}