{% extends 'base.html' %}

{% block content %}
<style type="text/css">
  .form-changepw {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }

  .changepw-card {
      border: 3px solid black;
      background-color: white;
  }
  
  .changepw-card input{
    margin-bottom: 10px;
  }
</style>

<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="changepw-card rounded">
            <div class="card-header">
                <h3>Change Password</h3>
            </div>
            <div class="card-body">
              <form id="id_password_change_form" method="POST" class="form-changepw">
                {% csrf_token %}
                <input name="old_password" class="form-control" placeholder="Old password" type="password" id="id_old_password" required="true">
                <input name="new_password1" class="form-control" placeholder="New password" type="password" id="id_new_password1" required="true">
                <input name="new_password2" class="form-control" placeholder="Confirm password" type="password" id="id_new_password2" required="true">

                {% for field in form %}
                  {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                  {% endfor %}
                {% endfor %}

                <button id="id_submit_btn" class="updatebtn btn btn-dark" type="submit">Update</button>  
              </form>
          </div>
		</div>
	</div>
</div>


{% endblock %}