<script type="text/javascript">

	enableImageOverlay()

	function readURL(input){
		if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
            	disableImageOverlay()
            	var image = e.target.result
            	var imageField = document.getElementById('id_profile_image_display')
                imageField.src = image
            };
            reader.readAsDataURL(input.files[0]);
        }
	}

	function isImageSizeValid(image){
		var startIndex = image.indexOf("base64,") + 7
		var base64str = image.substr(startIndex)
		// decode a base64 string
		var decoded = atob(base64str)
		// if bigger 
		if (decoded.length >= "{{DATA_UPLOAD_MAX_MEMORY_SIZE}}"){
			return null
		} 
		return base64str
	}

	function enableImageOverlay(){

		// Image Box
		var profileImg = document.getElementById("id_profile_image")
		profileImg.style.opacity = "1"
		profileImg.style.display = "block"
		profileImg.style.width = "100%"
		profileImg.style.height = "auto"
		profileImg.style.cursor = "pointer"

		// box holding edit text
		var middleContainer = document.getElementById("id_middle_container")
		middleContainer.style.opacity = "0"
		middleContainer.style.position = "absolute"
		middleContainer.style.top = "50%"
		middleContainer.style.left = "50%"
		middleContainer.style.transform = "translate(-50%, -50%)"
		middleContainer.style.textAlign = "center"

		// Edit Text
		var text = document.getElementById("id_text")
		text.style.backgroundColor = "black"
		text.style.color = "white"
		text.style.cursor = "pointer"
		text.style.padding = "12px 28px"

		// parent container holding everything the image and the edit box
		var imageContainer = document.getElementById("id_image_container")
		imageContainer.addEventListener("mouseover", function( event ) { 
			profileImg.style.opacity = "0.3"
			middleContainer.style.opacity = "1"
		})

		imageContainer.addEventListener("mouseout", function( event ) { 
			profileImg.style.opacity = "1"
			middleContainer.style.opacity = "0"
		})

		imageContainer.addEventListener("click", function(event){
			document.getElementById('id_profile_image').click();
		});
		
	}

	function disableImageOverlay(){
		var profileImg = document.getElementById("id_profile_image_display")
		var middleContainer = document.getElementById("id_middle_container")
		var imageContainer = document.getElementById("id_image_container")
		var text = document.getElementById("id_text")

		imageContainer.removeEventListener("mouseover", function( event ) { 
			profileImg.style.opacity = "0.3"
			middleContainer.style.opacity = "1"
		})

		imageContainer.removeEventListener("mouseout", function( event ) { 
			profileImg.style.opacity = "1"
			middleContainer.style.opacity = "0"
		})

		profileImg.style.opacity = "1"
		middleContainer.style.opacity = "0"
		text.style.cursor = "default"
		text.style.opacity = "0"

		document.getElementById('id_image_container').removeEventListener("click", function(event){
			event.preventDefault();
		});
		document.getElementById('id_profile_image').addEventListener("click", function(event){
			event.preventDefault();
		});

	}
</script>